/* GENERAL */
*{
    font-size: 12px;
    color: rgb(200,200,200); 
    background: rgb(70,70,70);
}

*:disabled{
  color: rgb(100,100,100);
}

*:focus{
  border: none; 
}

*[is_integrated=true], *:focus[is_integrated=true]{
  border: none;
  background-color: transparent;
}

*[position=up], #slider_fg[position=up]{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom:1px solid rgb(70,70,70);
}
*[position=middle], #slider_fg[position=middle]{
  border-radius: 0px;
  border-bottom:1px solid rgb(70,70,70);
}
*[position=down], #slider_fg[position=down]{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
*[position=left], #slider_fg[position=left]{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right:1px solid rgb(70,70,70);
}
*[position=center], #slider_fg[position=center]{
  border-radius: 0px;
  border-right:1px solid rgb(70,70,70);
}
*[position=right], #slider_fg[position=right]{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

QLabel, QCheckBox, QSlider{
    background: transparent;
}

QMainWindow{
    background-color: black;
}


/* TAB WIDGET */
#tab{
    border:none;
}

QTabWidget:tab-bar {
    border:none;
    top: 1px;
}
QTabBar{
    background: transparent;
}
QTabBar:tab {
    background: rgb(55,55,55);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
    padding-left: 3px; 
    padding-bottom:3px;
}
QTabBar:tab:hover {
    background: rgb(60,60,60);
}
QTabBar:tab:selected {
    background: rgb(70,70,70);
}

/* GROUPBOX */
QGroupBox:title{
  padding-top: 15px;
}


/* LIST WIDGET */
QListWidget{
    background: rgb(40,40,40);
    border-radius: 5px;
}
QListWidget:focus{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(120,182,201);
}
QListWidget:item:selected{
  background: rgb(120,182,201);
}


/* COMBOBOX */
QComboBox{
  border-radius : 5px;
  border-style: solid;
  background: rgb(40,40,40);
  height: 20px;
}
QComboBox:item {
  selection-background-color: rgb(120,182,201);
}
QComboBox:drop-down {
    subcontrol-position: center right;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    image: url(/Users/florentin/Documents/Scripts/viewer/viewer/ui/ressources/icons/widgets/down_arrow.png);
}
QComboBox:hover{
    background : rgb(45,45,45);
}


/* SLIDER */
QSlider{
  background-color: transparent;
}
QSlider:groove{
  background: rgb(120, 120, 120);
  border-radius: 4px;
}
QSlider:sub-page{
  background: rgb(120,182,201);
  border-radius: 4px;
}
QSlider:handle {
  background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
      stop:0 #eee, stop:1 #ccc);
  width: 12px;
  height: 12px;
  margin-top: -5px;
  margin-bottom: -5px;
  border-radius: 6px;
}

TimelineSlider:groove, TimelineSlider:sub-page{
  border-radius: 0px;
}
TimelineSlider:groove:hover, TimelineSlider:sub-page:hover {
  border-radius: 0px;
}
TimelineSlider:handle {
  background: transparent;
  width: 2px;
}

#slider_fg{
  background: rgb(120,182,201);
  border-radius: 5px;
}


/* SPINBOX */
SpinBox{
  min-height: 20px;
  color: rgb(200,200,200); 
  background: rgb(40,40,40);
  border-radius: 5px;
}
SpinBox:hover{
  background: rgb(50,50,50);
}
SpinBox[editable=true]{
  background-color: rgb(30,30,30);
}

SpinBox:up-button{
  subcontrol-origin: margin;
  subcontrol-position: center right;
  image: none;
  width: 20px;
  height: 10px;
}
SpinBox:down-button{
  subcontrol-origin: margin;
  subcontrol-position: center left;
  image: none;
  width: 20px;
  height: 10px;
}
SpinBox:up-button:hover{
  image: url(/Users/florentin/Documents/Scripts/viewer/viewer/ui/ressources/icons/widgets/right_arrow.png);
}
SpinBox:down-button:hover{
  image: url(/Users/florentin/Documents/Scripts/viewer/viewer/ui/ressources/icons/widgets/left_arrow.png);
}


/* LINE EDIT */
LineEdit{
  height: 20px;
  background: rgb(30,30,30);
  border-radius: 5px;
}
LineEdit:disabled {
  background-color: rgb(80,80,80);
}
LineEdit:hover{
  background: rgb(35,35,35);
}
LineEdit[is_editable=true]{
  background-color: rgb(50,50,50);
}


/* CHECKBOX */
CheckBox{
  background: transparent;
}
CheckBox:indicator{
  width: 15px;
  height: 15px;
  background: rgb(40,40,40);
  border-radius: 2px;
}
CheckBox:indicator:hover{
  background: rgb(50,50,50);
}
CheckBox:indicator:checked{
  image: url(/Users/florentin/Documents/Scripts/viewer/viewer/ui/ressources/icons/widgets/check.png);
  background: rgb(120,182,201);
}


/* BUTTON */
PushButton {
  height: 20px;
  background: rgb(110,110,110);
  border-radius: 5px;
}
PushButton:hover{
  background: rgb(100,100,100);
}
PushButton:pressed, PushButton:checked{
  background: rgb(120,182,201);
}

#tool_button{
  background: rgb(40,40,40);
}
#tool_button:hover{
  background: rgb(50,50,50);
}
#tool_button:pressed{
  background: rgb(120,182,201);
}


/* SCROLLBAR */
QScrollBar {
  background: transparent;
  width: 4px;
}
QScrollBar:handle {
  background: rgba(255,255,255,0.25);
  border-radius: 2px;
}
QScrollBar:handle:hover {
  background: rgba(255,255,255,0.5);
  border-radius: 2px;
}


/* DIVERS */
QLabel.ImageContainer{
  font-size: 30px;
}
QLabel.ImageContainer:hover{
  color: rgb(150, 150, 150);
  border-color: rgb(150, 150, 150);
}

Timeline{
  background-color:transparent;
}

#control_panel{
  background-color:rgb(40, 40, 40);
}
